body {
  font-family: $font-main;
  font-style: $font-style-main;
  font-size: $font-size-main;
  letter-spacing: $letter-spacing-main;
  color: getColor("primary-text");
  background-color: #ffffff;

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
