.client-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients {
  display: flex;
  flex-wrap: wrap;
  @extend %ul;
  padding: 0;
  margin: -15px;
  // margin-bottom: 30px;
  // width: 1170px;

  // & .client-link:nth-child(6n) {
  //   margin-right: 0;
  // }
}

.client {
  width: calc(100% / 2 - 30px);
  margin: 15px;

  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 6 - 30px);
  }
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border-radius: 4px;
  border: 1px solid getColor("primary-icon");
  fill: getColor("primary-icon");

  transition: getTransition("transition-border"),
    getTransition("transition-fill");

  &:hover {
    border: 1px solid getColor("accent");
    fill: getColor("accent");
  }
}
