footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: map-get($colors, "bg-secondary");
  color: #ffffff;
  font-style: $font-style-main;

  & .container {
    display: flex;
    align-items: center;
  }

  & .social-links {
    margin-top: 22px;
    margin-bottom: 0;
  }

  & .link-icon {
    background-color: rgba(255, 255, 255, 0.1);
    fill: #ffffff;
  }
}

.footer-address.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  font-style: normal;
}

.footer-address .link {
  color: map-get($colors, "footer-address");
  text-decoration: none;
}
.footer-address p {
  margin-top: 20px;
  margin-bottom: 0;
}

.address-line {
  display: inline-block;
  text-decoration: none;
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contact {
  display: inline-block;
}
.joinus {
  display: inline-block;
  text-transform: uppercase;
  text-align: left;
  width: 206px;
  margin-right: 0;
  margin-left: 70px;
}

.subscribe {
  display: inline-block;
  text-transform: uppercase;
  text-align: left;
  margin-left: 93px;
}

.subscribe button {
  display: inline-flex;
  align-items: center;
  margin-left: 12 px;
  padding: 10px 29px;
  border: 1px solid map-get($colors, "accent");
  border-radius: 4px;

  color: #ffffff;
  fill: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  background-color: map-get($colors, "accent");

  transition: map-get($transitions, "transition-border"),
    map-get($transitions, "transition-bgc"),
    map-get($transitions, "transition-fill"),
    map-get($transitions, "transition-color");

  &:hover,
  &:focus {
    fill: map-get($colors, "accent");
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: map-get($colors, "accent");
  }
}

.subscribe input {
  display: block;
  background-color: var(--bg-secondary-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;

  width: 358px;
  padding: 15px;
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
  font-family: $font-main;
  font-style: $font-style-main;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 1.25;
}

.subscribe-icon {
  margin-left: 10px;
}

.subscribe-action {
  display: inline-flex;
  margin-top: 20px;
}
