footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: getColor("bg-secondary");
  color: #ffffff;
  font-style: $font-style-main;

  @include for-size(tablet) {
    & .container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @include for-size(desktop) {
    & .container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  & .link-icon {
    background-color: rgba(255, 255, 255, 0.1);
    fill: #ffffff;
  }
}

footer .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  display: block;
  text-align: center;
  margin-bottom: 52px;

  @include for-size(tablet) {
    width: 50%;
  }

  @include for-size(desktop) {
    width: 25%;
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-address.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  font-style: normal;
}

.footer-address .link {
  color: getColor("footer-address");
  text-decoration: none;
}
.footer-address p {
  margin-top: 20px;
  margin-bottom: 0;
  font-style: italic;
}

.address-line {
  text-decoration: none;
  margin-bottom: 8px;
}

.joinus {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 60px;

  @include for-size(tablet) {
    width: 50%;
  }

  @include for-size(desktop) {
    width: 25%;
    align-self: center;
    text-align: left;
    margin-bottom: 0;
    & .social-links {
      margin: 20px 0 0 0;
    }
  }
}

.subscribe {
  display: block;
  text-align: center;
  text-transform: uppercase;

  @include for-size(tablet) {
    margin-left: auto;
    margin: auto;
  }

  @include for-size(desktop) {
    display: inline-block;
    text-align: left;
  }
}

.subscribe button {
  padding: 10px 29px;
  border: 1px solid getColor("accent");
  border-radius: 4px;

  color: #ffffff;
  fill: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  background-color: getColor("accent");

  transition: getTransition("transition-border"),
    getTransition("transition-bgc"), getTransition("transition-fill"),
    getTransition("transition-color");

  &:hover,
  &:focus {
    fill: getColor("accent");
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: getColor("accent");
  }

  @include for-size(desktop) {
    display: inline-flex;
    align-items: center;
    margin-left: 12px;
  }
}

.subscribe input {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  background-color: getColor("bg-secondary");
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  padding: 15px;
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
  font-family: $font-main;
  font-style: $font-style-main;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 1.25;

  @include for-size(desktop) {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe-icon {
  margin-left: 10px;
}

.subscribe-action {
  @include for-size(desktop) {
    flex-wrap: nowrap;
  }
}
