header .container {
  display: flex;
  align-items: center;

  & nav {
    display: inline-flex;
    align-items: center;
  }
}

.site-nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @extend %ul;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 94px;
  & .item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav .link {
  display: inline-flex;
  position: relative;
  color: map-get($colors, "secondary-text");
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;

  transition: map-get($transitions, "transition-color");
  &:hover,
  &:focus {
    color: map-get($colors, "accent");
    text-decoration: none;
  }
}

.link.current {
  color: map-get($colors, "accent");

  &::after {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
    height: 4px;
    border-radius: 2px;
    background-color: map-get($colors, "accent");
  }
}

.header-address .link {
  color: map-get($colors, "primary-text");
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  @extend %a;
  fill: var(--primary-text-color);

  transition: map-get($transitions, "transition-fill"),
    map-get($transitions, "transition-color");

  &:hover,
  &:focus {
    color: map-get($colors, "accent");
    fill: map-get($colors, "accent");
    // text-decoration: none;
  }
}

.address-icon {
  margin-right: 10px;
}

.header-address a:not(:last-child) {
  margin-right: 30px;
}

.header-address {
  margin-left: auto;
}
