.main-section {
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  max-height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mob/heroimagemobx.jpg");
  background-repeat: no-repeat;
  background-position: center;

  // padding: 118px 60px;

  background-color: getColor("bg-secondary");

  @include for-size(tablet) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tab/heroimagetabx.jpg");
    // padding: 118px 204px;
  }

  @include for-size(desktop) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/heroimage.jpg");
  }
}

.main-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include for-size(desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.order-button {
  display: inline-block;
  text-align: center;
  padding: 10px 32px;
  border: 1px solid getColor("accent");
  border-radius: 4px;

  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  background-color: getColor("accent");

  transition: getTransition("transition-color"), getTransition("transition-bgc");

  &:hover {
    color: getColor("accent");
    background: #ffffff;
    outline: #ffffff;
    border: none;
  }

  &:focus {
    outline: none;
    border: none;
  }
}
