$font-main: Roboto, sans-serif;
$font-style-main: normal;
$font-size-main: 14px;
$letter-spacing-main: 0.03em;

%ul {
  list-style: none;
}

%img {
  display: block;
  max-width: 100%;
  height: auto;
}

%display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%a {
  text-decoration: none;
}

%section-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: map-get($colors, "secondary-text");
}
